@page "/resourceAddPage"
@using ERP.Application.StaffApp.Interfaces.ResourceManagement
@using ERP.Domain.Core.Entity
@using FluentValidation
@inject IAddResourceUseCase AddResourceUseCase

<style>
    h2 {
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
    }
</style>

<h2><c>ADD A NEW RESOURCE</c></h2>

<MudCard Class="my-custom-card">
    <MudForm Model="@model" @ref="@form">
        <MudCardContent>
            <MudTextField @bind-Value="model.ResourceId"
                          Immediate="true"
                          Label="Resource ID" />
            <MudTextField @bind-Value="model.Name"
                          Immediate="true"
                          Label="Name" />
            <MudTextField @bind-Value="model.Type"
                          Immediate="true"
                          Label="Resource Type" />
            <MudTextField @bind-Value="model.Description"
                          Immediate="true"
                          Label="Description" />
        </MudCardContent>
    </MudForm>
    <MudCardActions>
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   Class="ml-auto"
                   OnClick="@(async () => await Submit())">Add</MudButton>
    </MudCardActions>
</MudCard>

<style>
    .my-custom-card {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f8f9fa; /* Light gray background */
        border: 1px solid #ced4da; /* Gray border */
    }
</style>

@code {
    private Resource model = new Resource();
    private MudForm form;

    private async Task Submit()
    {
        await AddResourceUseCase.ExecuteAsync(model);
    }
}
